# Países que assinaram o Acordo de Paris

Este notebook tem o intuito de relacionar as bases 1 e 2 conforme descritos abaixo:
    
    1. "Emission_Country_Year" - Base principal do projeto, pois contén os dados quantitativos relacionados a emissão de gases poluentes por País e Ano, esta base registra dados de 1850 a 2019 de 236 países.

    2. "Paris_Agreement_Countries" - Base auxiliar do projeto, pois contém informações de países que assinaram o Acordo de Paris, esta base registra dados de 176 países. 

As relações das bases se darão pelas colunas Base 1, Coluna "country" e Base 2, coluna "Participant" que são comuns em ambas as bases, Foram necessárias algumas trtativas na Base 2 a fim de deixa-la o mais proximo possível da Base 1.

Contextualização: O Acordo de paris é um tratado internacional com compromissos mais rígidos para a redução da emissão dos gases que produzem o efeito estufa, que são a causa do atual aquecimento global, O acordo de Paris substitui o Tratado de Kyoto a Partir de 2020.

In [1]:
# Instalar os programas e bibliotecas que serão utilizados
import pandas as pd
import requests
from bs4 import BeautifulSoup

1. Base de Dados 2 - "Paris_Agreement_Countries"

In [2]:
#Requisição de dados no site para coleta de dados e cração da base 2. Kyoto_Agreement_Countries
reqparis = requests.get('https://treaties.un.org/pages/ViewDetails.aspx?src=TREATY&mtdsg_no=XXVII-7-d&chapter=27&clang=_en')
if reqparis.status_code == 200:
    print('Requisição bem sucedida!')
    contentparis = reqparis.content

Requisição bem sucedida!

In [3]:
#criação de lista com dados requisitados anteriormente
soupparis = BeautifulSoup(contentparis, 'html.parser')
#buscando a tag table na lista, já que os dados que vamos consumir está em uma tabela neste site.
tableparis = soupparis.find(name='table')

In [4]:
#transformando lista em string
table_str_paris = str(tableparis)
#lendo o 10° item da lista e o convertendo em dataframe, obs: foi testado varias posiçoes da lista e identificado que a tabela 10 é exatamente a tabela necessitada.
Paris_Agreement_Countries = pd.read_html(table_str_paris)[10:11][0]
#Drop na linha 0 do dataframe pois trata-se dos nomes da coluna, em caso de dúvidas olhar na visualização acima na linha de número 0
Paris_Agreement_Countries.drop(0, axis=0, inplace=True)
#exibição do dataframe
Paris_Agreement_Countries

                                      0            1              2
1                           Afghanistan  22 Apr 2016    15 Feb 2017
2                               Albania  22 Apr 2016    21 Sep 2016
3                               Algeria  22 Apr 2016    20 Oct 2016
4                               Andorra  22 Apr 2016    24 Mar 2017
5                                Angola  22 Apr 2016    16 Nov 2020
..                                  ...          ...            ...
193  Venezuela (Bolivarian Republic of)  22 Apr 2016    21 Jul 2017
194                            Viet Nam  22 Apr 2016  3 Nov 2016 AA
195                               Yemen  23 Sep 2016            NaN
196                              Zambia  20 Sep 2016     9 Dec 2016
197                            Zimbabwe  22 Apr 2016     7 Aug 2017

[197 rows x 3 columns]

In [5]:
#Drop NAN na coluna 2
Paris_Agreement_Countries.dropna(subset=[2], inplace=True)
#inserção dos nomes das colunas no dataframe
Paris_Agreement_Countries.columns=['Participant','Signature','Date']
#Criação da coluna 'Accession(a)' que vale True se a coluna 'Date' finaliza com ' a'
Paris_Agreement_Countries['Accession'] = Paris_Agreement_Countries.Date.str.endswith(" a")
#Criação da coluna 'Accession(a)' que vale True se a coluna 'Date' finaliza com ' a'
Paris_Agreement_Countries['Approval'] = Paris_Agreement_Countries.Date.str.endswith(" AA")
#Criação da coluna 'Accession(a)' que vale True se a coluna 'Date' finaliza com ' a'
Paris_Agreement_Countries['Acceptance'] = Paris_Agreement_Countries.Date.str.endswith(" A")
#Criação de coluna Ratification onde todas as demais valem False
Paris_Agreement_Countries['Ratification'] = (Paris_Agreement_Countries['Accession'] == False) & (Paris_Agreement_Countries['Approval'] == False) & (Paris_Agreement_Countries['Acceptance'] == False)
#exibição do dataframe
Paris_Agreement_Countries

,Participant,Signature,Date,Accession,Approval,Acceptance,Ratification
1,Afghanistan,22 Apr 2016,15 Feb 2017,False,False,False,True
2,Albania,22 Apr 2016,21 Sep 2016,False,False,False,True
3,Algeria,22 Apr 2016,20 Oct 2016,False,False,False,True
4,Andorra,22 Apr 2016,24 Mar 2017,False,False,False,True
5,Angola,22 Apr 2016,16 Nov 2020,False,False,False,True
...,...,...,...,...,...,...,...
192,Vanuatu,22 Apr 2016,21 Sep 2016,False,False,False,True
193,Venezuela (Bolivarian Republic of),22 Apr 2016,21 Jul 2017,False,False,False,True
194,Viet Nam,22 Apr 2016,3 Nov 2016 AA,False,True,False,False
196,Zambia,20 Sep 2016,9 Dec 2016,False,False,False,True
197,Zimbabwe,22 Apr 2016,7 Aug 2017,False,False,False,True

A Coluna Signature se refere a data em que o país assinou o tratado de Kyoto, na coluna Date trata-se de diversas ações possívesi após a assinatura como:
   1. Approval(AA)
   2. Acceptance(A)
   3. Accession(a)
   4. Ratification
  
A informação mais importante nesse visão do projeto é a Ratificação e não apenas mais adesão pois apenas 2 países aderiram ao tratado conforme dataframe, os dados referentes a aceitação ou Aprovação serão descartados no momento, pois deseja-se descobrir quais países validaram o tratado.

In [6]:
#reset index
Paris_Agreement_Countries.reset_index(inplace=True)
#drop coluna index
Paris_Agreement_Countries.drop(['index'], axis=1, inplace=True)
#Drop coluna
Paris_Agreement_Countries.drop(['Accession'], axis=1, inplace=True)
#Drop coluna
Paris_Agreement_Countries.drop(['Approval'], axis=1, inplace=True)
#Drop coluna
Paris_Agreement_Countries.drop(['Acceptance'], axis=1, inplace=True)
# indexa sempre que a coluna 'Ratification' valer false, ou seja, quando não aderido.
indexNames = Paris_Agreement_Countries[(Paris_Agreement_Countries['Ratification'] == False)].index 
# Deletar linhas conforme indexação
Paris_Agreement_Countries.drop(indexNames, inplace=True)
#Reset index
Paris_Agreement_Countries.reset_index(inplace = True)
#Drop coluna index
Paris_Agreement_Countries.drop(['index'],axis=1, inplace = True)
#criação de novo dataframe
Paris_Agreement_Countries_in = Paris_Agreement_Countries
#exibição do dataframe
Paris_Agreement_Countries

,Participant,Signature,Date,Ratification
0,Afghanistan,22 Apr 2016,15 Feb 2017,True
1,Albania,22 Apr 2016,21 Sep 2016,True
2,Algeria,22 Apr 2016,20 Oct 2016,True
3,Andorra,22 Apr 2016,24 Mar 2017,True
4,Angola,22 Apr 2016,16 Nov 2020,True
...,...,...,...,...
174,Uzbekistan,19 Apr 2017,9 Nov 2018,True
175,Vanuatu,22 Apr 2016,21 Sep 2016,True
176,Venezuela (Bolivarian Republic of),22 Apr 2016,21 Jul 2017,True
177,Zambia,20 Sep 2016,9 Dec 2016,True
178,Zimbabwe,22 Apr 2016,7 Aug 2017,True

In [7]:
#Drop coluna Signature
Paris_Agreement_Countries.drop(['Signature'], axis=1, inplace=True)
#SubstituiParis_Agreement_Countries a string ' a' por '' na coluna 'Date' quando a mesma finalizar com este valor 
Paris_Agreement_Countries.Date = Paris_Agreement_Countries.Date.str.replace(' a$', '')
#Substitui a string '[' por '' na coluna 'Date' quando a mesma contiver este valor 
Paris_Agreement_Countries.Date = Paris_Agreement_Countries.Date.str.replace('[', '')
#Substitui a string '[' por '' na coluna 'Date' quando a mesma contiver este valor 
Paris_Agreement_Countries.Date = Paris_Agreement_Countries.Date.str.replace(' ]', '')
#Substitui a string ' ' por '' na coluna 'Date' quando a mesma contiver este valor 
Paris_Agreement_Countries.Date = Paris_Agreement_Countries.Date.str.replace(' $', '')
#Drop todos os valores nulos do dataframe
Paris_Agreement_Countries.dropna(inplace=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.

In [8]:
#Converte a coluna 'Date' em data
Paris_Agreement_Countries['Date'] = pd.to_datetime(Paris_Agreement_Countries['Date'])
#Corrigido os nomes na coluna 'Participant' pois havia nomes com '()'
Paris_Agreement_Countries['Participant'] = Paris_Agreement_Countries['Participant'].str.split('(').apply(lambda x : x[0])
#Substitui a string ' ' por '' na coluna 'Participant' quando a mesma finalizar com este valor 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace(' $', '')
#Reset index
Paris_Agreement_Countries.reset_index(inplace = True)
#Drop coluna index
Paris_Agreement_Countries.drop(['index'],axis=1, inplace = True)
#exibição do dataframe
Paris_Agreement_Countries

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

     Participant       Date  Ratification
0    Afghanistan 2017-02-15          True
1        Albania 2016-09-21          True
2        Algeria 2016-10-20          True
3        Andorra 2017-03-24          True
4         Angola 2020-11-16          True
..           ...        ...           ...
174   Uzbekistan 2018-11-09          True
175      Vanuatu 2016-09-21          True
176    Venezuela 2017-07-21          True
177       Zambia 2016-12-09          True
178     Zimbabwe 2017-08-07          True

[179 rows x 3 columns]

2. Base de Dados 1 - "Emission_Country_Year"

In [9]:
#Leitura de arquivo salvo na VM
Emission_Country_Year = pd.read_csv('/home/jupyter/Emission_Country_Year.csv')
#Drop coluna 'Unnamed: 0'
Emission_Country_Year.drop(['Unnamed: 0'],axis=1,inplace=True)
#criação de novo dataframe com os dados anteriores ao tratamento
Emission_Country_Year_in = Emission_Country_Year
#exibição do dataframe
Emission_Country_Year

,iso_code,country,year,co2,co2_per_capita,share_global_co2,cumulative_co2,share_global_cumulative_co2,co2_per_gdp,cement_co2,...,share_global_cumulative_cement_co2,total_ghg,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,Kyoto
0,AFG,Afghanistan,1949,0.015,0.002,0.000,0.015,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN,True
1,AFG,Afghanistan,1950,0.084,0.011,0.001,0.099,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10,True
2,AFG,Afghanistan,1951,0.092,0.012,0.001,0.191,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10,True
3,AFG,Afghanistan,1952,0.092,0.012,0.001,0.282,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10,True
4,AFG,Afghanistan,1953,0.106,0.013,0.002,0.388,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,12.170,0.881,0.035,726.480,0.048,0.486,0.504,...,0.049,67.49,4.885,11.87,0.859,6.68,0.484,13815000.0,2.503057e+10,True
23704,ZWE,Zimbabwe,2016,10.815,0.771,0.031,737.295,0.048,0.430,0.581,...,0.049,65.98,4.703,11.92,0.850,6.55,0.467,14030000.0,2.515176e+10,True
23705,ZWE,Zimbabwe,2017,10.247,0.720,0.029,747.542,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN,True
23706,ZWE,Zimbabwe,2018,11.341,0.785,0.031,758.882,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN,True
23707,ZWE,Zimbabwe,2019,10.374,0.708,0.028,769.256,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN,True

Tratamento da base "1. Emission_Country_Year"

In [10]:
#Criação de dataframe com 2 colunas de Emission_Country_Year
Country_IsoCode = Emission_Country_Year[['iso_code', 'country', 'year']]
#Drop todos os valores nulos da coluna 'country' 
Country_IsoCode.dropna(subset=['country'], inplace=True)
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

      iso_code      country  year
0          AFG  Afghanistan  1949
1          AFG  Afghanistan  1950
2          AFG  Afghanistan  1951
3          AFG  Afghanistan  1952
4          AFG  Afghanistan  1953
...        ...          ...   ...
23703      ZWE     Zimbabwe  2015
23704      ZWE     Zimbabwe  2016
23705      ZWE     Zimbabwe  2017
23706      ZWE     Zimbabwe  2018
23707      ZWE     Zimbabwe  2019

[23708 rows x 3 columns]

In [11]:
#Preencher sempre que Iso_code valer Nan
Country_IsoCode['iso_code'].fillna('Preencher',inplace=True)
#Agrupamento por 'iso_code' selecionando os dados da tabela 'country' index resetado para 'iso_code' e o index virou a coluna
Country_IsoCode = Country_IsoCode.groupby('country')['iso_code'].apply(lambda Country_IsoCode: Country_IsoCode.reset_index(drop=True)).unstack(0)
#Drop todos os valores nulos
Country_IsoCode.dropna(inplace = True)
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:4466: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

country,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna Islands,World,Yemen,Zambia,Zimbabwe
0,AFG,Preencher,ALB,DZA,AND,AGO,AIA,ATG,ARG,ARM,...,URY,UZB,VUT,VEN,VNM,WLF,OWID_WRL,YEM,ZMB,ZWE

In [12]:
#dataframe transposto
Country_IsoCode = Country_IsoCode.transpose()
#reset de index
Country_IsoCode.reset_index(inplace = True)
#Substitui a string ' ' por '' na coluna 'country' quando a mesma finalizar com este valor 
Country_IsoCode.country = Country_IsoCode.country.str.replace(' $', '')
#Renomear nome das colunas
Country_IsoCode.columns=['Country','Iso_code']
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

                       Country   Iso_code
0                  Afghanistan        AFG
1                       Africa  Preencher
2                      Albania        ALB
3                      Algeria        DZA
4                      Andorra        AND
..                         ...        ...
231  Wallis and Futuna Islands        WLF
232                      World   OWID_WRL
233                      Yemen        YEM
234                     Zambia        ZMB
235                   Zimbabwe        ZWE

[236 rows x 2 columns]

In [13]:
#verificando quantos valores da coluna 'Country são nulos'
Country_IsoCode['Country'].nunique()

236

3. Alteração na base "Base 2. Paris_Agreement_Countries", Conforme Base de Dados 1 - "Emission_Country_Year"

In [14]:
#Substituição dos nomes dos países a fim de deixar a base conforme a base principal do projeto 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Brunei Darussalam', 'Brunei')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Cabo Verde', 'Cape Verde')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("Côte d'Ivoire", "Cote d'Ivoire")
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Democratic Republic of the Congo', 'Democratic Republic of Congo')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("Lao People's Democratic Republic", 'Laos')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Republic of Moldova', 'Moldova')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('St. Kitts and Nevis', 'Saint Kitts and Nevis')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Syrian Arab Republic', 'Syria')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("Democratic People's Republic of Korea", 'North Korea')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Timor-Leste', 'Timor')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('United Republic of Tanzania', 'Tanzania')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('Czech Republic', 'Czechia') 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('New Zealand 3', 'New Zealand') 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('St. Lucia', 'Saint Lucia') 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace('St. Vincent and the Grenadines', 'Saint Vincent and the Grenadines') 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("Republic of Korea", 'South Korea') 
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("United Kingdom of Great Britain and Northern Ireland", 'United Kingdom')
Paris_Agreement_Countries.Participant = Paris_Agreement_Countries.Participant.str.replace("State of Palestine", 'Palestine')
#exibição do dataframe
Paris_Agreement_Countries

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  app.launch_new_instance()

     Participant       Date  Ratification
0    Afghanistan 2017-02-15          True
1        Albania 2016-09-21          True
2        Algeria 2016-10-20          True
3        Andorra 2017-03-24          True
4         Angola 2020-11-16          True
..           ...        ...           ...
174   Uzbekistan 2018-11-09          True
175      Vanuatu 2016-09-21          True
176    Venezuela 2017-07-21          True
177       Zambia 2016-12-09          True
178     Zimbabwe 2017-08-07          True

[179 rows x 3 columns]

Drop de valores que não existiam na base de "1. Emission_Country_Year".

In [15]:
# Get indexes where name column doesn't have value john
indexNames = Paris_Agreement_Countries[(Paris_Agreement_Countries['Participant'] == 'San Marino') | (Paris_Agreement_Countries['Participant'] == 'Monaco') | (Paris_Agreement_Countries['Participant'] == 'European Union')].index 
# Delete these row indexes from dataFrame
Paris_Agreement_Countries.drop(indexNames, inplace=True)
#exibição do dataframe
Paris_Agreement_Countries

     Participant       Date  Ratification
0    Afghanistan 2017-02-15          True
1        Albania 2016-09-21          True
2        Algeria 2016-10-20          True
3        Andorra 2017-03-24          True
4         Angola 2020-11-16          True
..           ...        ...           ...
174   Uzbekistan 2018-11-09          True
175      Vanuatu 2016-09-21          True
176    Venezuela 2017-07-21          True
177       Zambia 2016-12-09          True
178     Zimbabwe 2017-08-07          True

[176 rows x 3 columns]

4. Análise de dados - Verificação se Base de Dados 1 - "Emission_Country_Year" e Base 2. "Paris_Agreement_Countries"estão correspondentes:

Foram Analisadas as colunas Paris_Agreement_Countries['Participant'] e Country_IsoCode['Country'] para verificação de correspondencias.
Foram criados 3 dataframes conforme abaixo:
    
    1. paris_naoIsocode: Países existentes na base de dados "2. paris_Agreement_Countries" porém não na base "1. Emission_Country_Year", foram encontrados 20 valores na primeira iteração, porém houve verificação na escrita destes países e houve alterações de nomes, conforme item 2.3, após estas alterações encontrou-se apenas 1 valor, como a base 2 é apenas uma base auxiliar este país foi excluído da base 2, conforme iteração 3.

In [16]:
#Dataframe criado com as linhas em que a coluna 'Participant' nao estava em Country_IsoCode['country'] nesse caso sera necessario substituir
#Paris_Agreement_Countries['Participant'] pela sua base e coluna a qual contem o nome dos países
Paris_naoIsocode = Paris_Agreement_Countries[Paris_Agreement_Countries['Participant'].isin(Country_IsoCode['Country']) == False]
#contando o numero de linhas nao casadas
Paris_naoIsocode.count()

Participant     0
Date            0
Ratification    0
dtype: int64

In [17]:
Paris_naoIsocode

Empty DataFrame
Columns: [Participant, Date, Ratification]
Index: []

    2. Paris_Isocode: Países existentes em ambas as base, foram encontrados 98 valores na primeira iteração, porém após as alterações na base conforme item 2.3 esse valor subiu para 109 países, ou seja, 109 países da base geral eceitaram implementar ações para diminuição de emissão de gases poluentes.

In [18]:
#Dataframe criado com as linhas em que a coluna 'Participant' existe em, nesse caso temos o match e nao sera necessario se preocupar com estas linhas
Paris_Isocode = Paris_Agreement_Countries[Paris_Agreement_Countries['Participant'].isin(Country_IsoCode['Country'])]
#contando o numero de linhas casadas entre os dataframes
Paris_Isocode.count()

Participant     176
Date            176
Ratification    176
dtype: int64

In [19]:
Paris_Isocode

     Participant       Date  Ratification
0    Afghanistan 2017-02-15          True
1        Albania 2016-09-21          True
2        Algeria 2016-10-20          True
3        Andorra 2017-03-24          True
4         Angola 2020-11-16          True
..           ...        ...           ...
174   Uzbekistan 2018-11-09          True
175      Vanuatu 2016-09-21          True
176    Venezuela 2017-07-21          True
177       Zambia 2016-12-09          True
178     Zimbabwe 2017-08-07          True

[176 rows x 3 columns]

    3. naoparis_Isocode: Países existentes na base de dados "1. Emission_Country_Year" porém não na base "2. Paris_Agreement_Countries", foram encontrados 138 valores na primeira iteração, porém após as alterações na base conforme item 2.3 esse valor diminuiu para 127 países, ou seja, 127 países da base "1. Emission_Country_Year" não implementaram ações para a diminuição na emissão de gases poluentes.

In [20]:
#Dataframe criado com as linhas em que a coluna Country_IsoCode['country'] nao estava em Paris_Agreement_Countries['Participant'] nesse caso sera necessario substituir
#Paris_Agreement_Countries['Participant'] pela sua base e coluna a qual contem o nome dos países
naoParis_Isocode = Country_IsoCode[Country_IsoCode['Country'].isin(Paris_Agreement_Countries['Participant']) == False]
#contando o numero de linhas nao casadas
naoParis_Isocode.count()

Country     60
Iso_code    60
dtype: int64

In [21]:
naoParis_Isocode

                             Country   Iso_code
1                             Africa  Preencher
6                           Anguilla        AIA
10                             Aruba        ABW
11                              Asia  Preencher
12        Asia (excl. China & India)  Preencher
20                           Belarus        BLR
24                           Bermuda        BMU
27   Bonaire Sint Eustatius and Saba        BES
31            British Virgin Islands        VGB
44                  Christmas Island        CXR
56                           Denmark        DNK
60                             EU-27  Preencher
61                             EU-28  Preencher
66                           Eritrea        ERI
70                            Europe  Preencher
71              Europe (excl. EU-27)  Preencher
72              Europe (excl. EU-28)  Preencher
73                    Faeroe Islands        FRO
77          French Equatorial Africa  Preencher
78                  French Polynesia        PYF
79                French West Africa  Preencher
82                           Georgia        GEO
86                         Greenland        GRL
94                         Hong Kong        HKG
96                           Iceland        ISL
99           International transport  Preencher
100                             Iran        IRN
101                             Iraq        IRQ
106                            Japan        JPN
111                           Kosovo   OWID_KOS
113                Kuwaiti Oil Fires  Preencher
118                  Leeward Islands  Preencher
121                            Libya        LBY
125                            Macao  Preencher
140                       Montserrat        MSR
147                      Netherlands        NLD
148                    New Caledonia        NCL
150                        Nicaragua        NIC
154                    North America  Preencher
155        North America (excl. USA)  Preencher
159                          Oceania  Preencher
165                Panama Canal Zone  Preencher
172                      Puerto Rico        PRI
175                           Russia        RUS
177                   Ryukyu Islands  Preencher
178                     Saint Helena        SHN
181        Saint Pierre and Miquelon        SPM
191        Sint Maarten (Dutch part)        SXM
197                    South America  Preencher
202         St. Kitts-Nevis-Anguilla  Preencher
207                            Syria        SYR
208                           Taiwan        TWN
217                           Turkey        TUR
219         Turks and Caicos Islands        TCA
223             United Arab Emirates        ARE
225                    United States        USA
230                          Vietnam        VNM
231        Wallis and Futuna Islands        WLF
232                            World   OWID_WRL
233                            Yemen        YEM

5. Conclusão

Será incluído uma coluna no Dataframe 1 com os Valores True e False onde true conrresponde aos países encontrados na base 2, que são os países que "Assinaram" o Acordo de Paris.

5.1 Inclusão de coluna na base de dados 1. Emission_Country_Year referente ao Acordo de Paris.

In [22]:
#Criação da coluna 'kyoto' que vale True se 
Emission_Country_Year['Paris'] = Emission_Country_Year['country'].isin(Paris_Agreement_Countries['Participant'])
Emission_Country_Year

,iso_code,country,year,co2,co2_per_capita,share_global_co2,cumulative_co2,share_global_cumulative_co2,co2_per_gdp,cement_co2,...,total_ghg,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,Kyoto,Paris
0,AFG,Afghanistan,1949,0.015,0.002,0.000,0.015,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN,True,True
1,AFG,Afghanistan,1950,0.084,0.011,0.001,0.099,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10,True,True
2,AFG,Afghanistan,1951,0.092,0.012,0.001,0.191,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10,True,True
3,AFG,Afghanistan,1952,0.092,0.012,0.001,0.282,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10,True,True
4,AFG,Afghanistan,1953,0.106,0.013,0.002,0.388,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,12.170,0.881,0.035,726.480,0.048,0.486,0.504,...,67.49,4.885,11.87,0.859,6.68,0.484,13815000.0,2.503057e+10,True,True
23704,ZWE,Zimbabwe,2016,10.815,0.771,0.031,737.295,0.048,0.430,0.581,...,65.98,4.703,11.92,0.850,6.55,0.467,14030000.0,2.515176e+10,True,True
23705,ZWE,Zimbabwe,2017,10.247,0.720,0.029,747.542,0.047,NaN,0.581,...,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN,True,True
23706,ZWE,Zimbabwe,2018,11.341,0.785,0.031,758.882,0.047,NaN,0.581,...,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN,True,True
23707,ZWE,Zimbabwe,2019,10.374,0.708,0.028,769.256,0.047,NaN,0.581,...,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN,True,True

In [23]:
# Importar pacote de autenticação do Google e biblioteca para conexão entre Pandas e BigQuery
from google.oauth2 import service_account
import pandas_gbq as pd_gbq

In [24]:
# Autenticar acesso ao BigQuery
acesso = service_account.Credentials.from_service_account_info(
{
  "type": "service_account",
  "project_id": "blueshift-academy",
  "private_key_id": "41e1caa0b572364b9a1a2e0c0062da37bbcbe7ed",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCuSbntsF3S72YR\noodN6Fk9DiSbOv6K9wmcUjRCd5prKrfkXehu2D1DpjlIQkYCeOFMeNU4FdHrsKEJ\nQy9CL5m8BLlzhZ822NKFpTBaEC6e4zQzBXlzhT5EaDbgHntculSnLpph8v/gHfWf\ndWckGgI2PUH1pOLsCUCbFQA22D8WQMPlVjBx+yCRVkU65x17l7XrlEBYw/ko/duH\n3v/GJQYU3qaX774T6BGBocj2CoqR5tgE93CWHFw5iZXuUm6d49aMkU3VZ8gH+B/M\n5BucMm6La6zp1gOGe6ureHY48OLugfOuAnmZhOcD6eXuIpDf2s4TqCf6r5xT3lls\nDRJ6R0YxAgMBAAECggEAHWrcytl8sKSPRBU8hMIdw+At/hSCT8bcNKosX3asFgAX\nG2DdYU424wL8wq1K/1JTZtKzXHzUWpWMzNEt+hwqNPHQModAhSOqPvwPkfgOwmtD\njYQUSJMaHDZB4ujKNi/OJ4zGapd3KGcuJOzOTKnmKy0CQ9nBooj6QmLUTy2HUnQz\nLEA7KCbEhOVv0V75JeXIK6RUJD/Kcxt4oONDxQcGZ7qKAfZCvBRDFrryByin2JeN\nbfl2YbOCbCzJfZCc8b4PwoWY+6cuHWoHW1QqEq4vei1PfuL690xtUB1Tb4M3ieuO\nZOLIPYs6lsTCV1yXe08fb7ts/HrU0VYPI4KEzfexxQKBgQDcw/bHFD//iE0W2Oz4\nS+yXtHg+Xwkrd1NyRGuohAYOMRbRj3S/lIk60jU03xFI+6Uyma3HNy2zMbZaGVhJ\n7l0w42zftxQwbORtu8IZnJTvpSLx3VcQ5i+tGKpyN8/h7BGdXUDeLtEyMq98EOTs\nmqFJL015yb6MZo2sD9Da2gzB1QKBgQDKGsj2WV1Q0kfvCh1PcTLsnERDjII+X3hT\nHnt9QIRtjy7vBzxwunc4sfsKJn+MTDsPwP/opqv1tz4nzKqc4ZVvcOKrc+M0WwsR\nkDEykrR3kn6jScRcvDuScA13Xoka21wnt/+BYppK3SCJjjWqtNcNZb+2C2iBx60c\nM4GKQ26E7QKBgCUnviLnX5YMRJ0xyUBI1vr5Xrtwl0R/gsXaihwEjFhbHrIKaOXN\nhAMoWdgaKviTkcwgXUUIHmLoXP5xAZD/0yNlQ2+rinRT/2YQkaxp1A85RdZbIEox\n05hYbGdoyU4Gwzgu97ntOzwtl6dT2JORus9sbKewsqdCo1lwGACdbkQ5AoGBALRB\nd4Pg6I2xP19AEixMtjK6nVfx9ihTViosQc/Qv0xILIAcYBfa94Klm1XOSGyFgRfn\n91c1cKHTMailrnYF7RZcBI8O6VJE8XZUuMx2dGdBTZmtrWlYqXlOX3Rb6MT/aQ4z\n2bs4iozC9MY7BDqg2D2mxnpDao513TwN5DfBNM1xAoGBAMpHVOeEcYaPbAMfCJrL\nYRdIKzyBXWWzZoA2iCz4QI2HQ9uiLQQogGxQbTaQaKxQKnbY+1kAfEkfhgJ+K4WB\nxvUpyLhGZ4n05tr1ySKt5r1dMhjKdWI+PzUO+VnC+MvqV6hStu98uH3nLABC7q1n\n/WtWzmm5JzEcij1X/9/mw+cK\n-----END PRIVATE KEY-----\n",
  "client_email": "725609614257-compute@developer.gserviceaccount.com",
  "client_id": "116558903634579342107",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/725609614257-compute%40developer.gserviceaccount.com"
})

In [25]:
# Atualizar o cache de credenciais na memória
pd_gbq.context.credentials = acesso
pd_gbq.context.project = "blueshift-academy"

In [26]:
# Nome do projeto onde o Conjunto de Dados está hospedado
Projeto= 'blueshift-academy'

# Inserir o DataFrame no BigQuery - (NomeDataFrame, ConjuntoDados.NomeTabela, ...)
pd_gbq.to_gbq(Emission_Country_Year, 'Paris.Emission_Country_Year', project_id=Projeto, if_exists='replace')
pd_gbq.to_gbq(Paris_Agreement_Countries, 'Paris.Paris_Agreement_Countries', project_id=Projeto, if_exists='replace')
pd_gbq.to_gbq(Emission_Country_Year_in, 'Paris.Emission_Country_Year_in', project_id=Projeto, if_exists='replace')
pd_gbq.to_gbq(Paris_Agreement_Countries_in, 'Paris.Paris_Agreement_Countries_in', project_id=Projeto, if_exists='replace')

1it [00:08,  8.28s/it]
1it [00:03,  3.85s/it]
1it [00:09,  9.55s/it]
1it [00:02,  2.65s/it]

# Autor: Greyce da Costa Silva