# Base Países por região

Este notebook tem o intuito de relacionar as bases 1 e 2 conforme descritos abaixo:

1. "Emission_Country_Year" - Base principal do projeto, pois contén os dados quantitativos relacionados a emissão de gases poluentes por País e Ano, esta base registra dados de 1850 a 2019 de 236 países.

2. "Country_Continent_Region" - Base auxiliar do projeto, pois contém informações de Paíse e continentes o quais pertencem, esta base foi preparada para conter 236 países assim como a base principal do projeto.

As relações das bases se darão pelas colunas Base 1, Coluna "country" e Base 2, coluna "country" que são comuns em ambas as bases, Foram necessárias algumas trtativas na Base 2 a fim de deixa-la o mais proximo possível da Base 1.

In [1]:
# Instalar os programas e bibliotecas que serão utilizados
!sudo apt install
!pip install kaggle
!sudo apt-get install unzip
!pip install pandas
import pandas as pd

0 upgraded, 0 newly installed, 0 to remove and 2 not upgraded.
Collecting kaggle
  Using cached https://files.pythonhosted.org/packages/99/33/365c0d13f07a2a54744d027fe20b60dacdfdfb33bc04746db6ad0b79340b/kaggle-1.5.10.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
    ImportError: No module named setuptools

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-3XdGz_/kaggle/



unzip is already the newest version (6.0-23+deb10u2).
0 upgraded, 0 newly installed, 0 to remove and 2 not upgraded.
Requirement already satisfied: pandas in /usr/local/lib/python2.7/dist-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python2.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python2.7/dist-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python2.7/dist-packages (from pandas) (1.16.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python2.7/dist-packages (from python-dateutil>=2.5.0->pandas) (1.15.0)

1. Base de Dados 1 - "Emission_Country_Year"

In [2]:
#Leitura de arquivo salvo na VM
Emission_Country_Year = pd.read_csv('/home/jupyter/Emission_Country_Year.csv')
#exibição do dataframe
Emission_Country_Year.columns

Index(['Unnamed: 0', 'iso_code', 'country', 'year', 'co2', 'co2_per_capita',
       'share_global_co2', 'cumulative_co2', 'share_global_cumulative_co2',
       'co2_per_gdp', 'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2',
       'oil_co2', 'other_industry_co2', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita', 'other_co2_per_capita', 'share_global_coal_co2',
       'share_global_oil_co2', 'share_global_gas_co2',
       'share_global_flaring_co2', 'share_global_cement_co2',
       'cumulative_coal_co2', 'cumulative_oil_co2', 'cumulative_gas_co2',
       'cumulative_flaring_co2', 'cumulative_cement_co2',
       'share_global_cumulative_coal_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_gas_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_cement_co2', 'total_ghg', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'population', 'gdp', 'Kyoto'],
      dtype='object')

In [3]:
#Criação de dataframe com 2 colunas de Emission_Country_Year
Country_IsoCode = Emission_Country_Year[['iso_code', 'country']]
#Drop todos os valores nulos da coluna 'country' 
Country_IsoCode.dropna(subset=['country'], inplace=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [4]:
#Verificando se existe valor nulo em iso_code
Country_IsoCode[Country_IsoCode['iso_code'].isna()].count()

iso_code       0
country     2778
dtype: int64

2. Base de Dados 2 - "Country_Continent_Region"

In [5]:
# Importar a biblioteca do Kaggle para acessar a API
import kaggle

In [6]:
# Alterar as permissões de acesso ao arquivo e executá-lo
api_token = {"username":"mayaragomesl","key":"44c49a9ebbe99a1a94eb26d16313f588"}

import json
    
with open('/home/jupyter/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

!chmod 600 ~/.kaggle/kaggle.json

In [7]:
#Download Dataset
!kaggle datasets download -d statchaitya/countrycontinent --force

/bin/sh: 1: kaggle: not found

In [8]:
#Descompactando o arquivo countrycontinent.zip no diretorio informado
!unzip -d /home/jupyter/countrycontinent.zip

UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.

Usage: unzip [-Z] [-opts[modifiers]] file[.zip] [list] [-x xlist] [-d exdir]
  Default action is to extract files in list, except those in xlist, to exdir;
  file[.zip] may be a wildcard.  -Z => ZipInfo mode ("unzip -Z" for usage).

  -p  extract files to pipe, no messages     -l  list files (short format)
  -f  freshen existing files, create none    -t  test compressed archive data
  -u  update files, create if necessary      -z  display archive comment only
  -v  list verbosely/show version info       -T  timestamp archive to latest
  -x  exclude files that follow (in xlist)   -d  extract files into exdir
modifiers:
  -n  never overwrite existing files         -q  quiet mode (-qq => quieter)
  -o  overwrite files WITHOUT prompting      -a  auto-convert any text files
  -j  junk paths (do not make directories)   -aa treat ALL files as text
  -U  use escapes for all non-ASCII Unicode  -UU ignore any Unicode fields
  -C  match filenames case-insensitively     -L  make (some) names lowercase
  -X  restore UID/GID info                   -V  retain VMS version numbers
  -K  keep setuid/setgid/tacky permissions   -M  pipe through "more" pager
See "unzip -hh" or unzip.txt for more help.  Examples:
  unzip data1 -x joe   => extract all files except joe from zipfile data1.zip
  unzip -p foo | more  => send contents of foo.zip via pipe into program more
  unzip -fo foo ReadMe => quietly replace existing ReadMe if archive file newer

In [9]:
#Criação de dataframe a partir do arquivo csv informado
country_continent = pd.read_csv('/home/jupyter/countryContinent.csv')
#criação de novo dataframe com os dados anteriores ao tratamento
Country_Continent_Region_in = country_continent
#exibição do dataframe
country_continent

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,�land Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,9.0,61.0
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,2.0,15.0
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,142.0,145.0
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Eastern Africa,2.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Eastern Africa,2.0,14.0

In [10]:
#Criação de novo dataframe a partir de country_continent
Country_Continent_Region = country_continent[['country', 'code_3','country_code','continent','sub_region']]
#Substituição de espaço por nada ao final de cada país na coluna 'country'
Country_Continent_Region.country = Country_Continent_Region.country.str.replace(' $', '')
#Drop todos os valores na na coluna 'country'
Country_Continent_Region.dropna(subset = ['country'], inplace=True)
#exibição do dataframe
Country_Continent_Region.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          country code_3  country_code continent       sub_region
0     Afghanistan    AFG             4      Asia    Southern Asia
1   �land Islands    ALA           248    Europe  Northern Europe
2         Albania    ALB             8    Europe  Southern Europe
3         Algeria    DZA            12    Africa  Northern Africa
4  American Samoa    ASM            16   Oceania        Polynesia

3. Alteração na Base de Dados 2 - "Country_Continent_Region" conforme em Base 1.

In [11]:
#Substituição dos nomes na base Country_Continent_Region conforme o dataframe Emission_Country_Year
Country_Continent_Region.replace(to_replace={'country': 'Bolivia (Plurinational State of)'}, value='Bolivia', inplace=True)
Country_Continent_Region.replace(to_replace={'country': 'Bonaire, Sint Eustatius and Saba'}, value='Bonaire Sint Eustatius and Saba', inplace=True)
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Brunei Darussalam", "Brunei")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Cabo Verde", "Cape Verde")
Country_Continent_Region.replace(to_replace={'country': "Congo (Democratic Republic of the)"}, value="Democratic Republic of Congo", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "C�te d'Ivoire"}, value="Cote d'Ivoire", inplace=True)
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Czech Republic", "Czechia")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Faroe Islands", "Faeroe Islands")
Country_Continent_Region.replace(to_replace={'country': "Iran (Islamic Republic of)"}, value="Iran", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Korea (Democratic People's Republic of)"}, value="North Korea", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Korea (Republic of)"}, value="South Korea", inplace=True)
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Lao People's Democratic Republic", "Laos")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Macedonia (the former Yugoslav Republic of)", "North Macedonia")
Country_Continent_Region.replace(to_replace={'country': "Moldova (Republic of)"}, value="Moldova", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Micronesia (Federated States of)"}, value="Micronesia", inplace=True)
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Russian Federation", "Russia")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Swaziland", "Eswatini")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Syrian Arab Republic", "Syria")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Timor-Leste", "Timor")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("United States of America", "United States")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Viet Nam", "Vietnam")
Country_Continent_Region.replace(to_replace={'country': "Wallis and Futuna"}, value="Wallis and Futuna Islands", inplace=True)
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Palestine, State of", "Palestine")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Tanzania, United Republic of", "Tanzania")
Country_Continent_Region.country = Country_Continent_Region.country.str.replace("Taiwan, Province of China", "Taiwan")
Country_Continent_Region.replace(to_replace={'country': "Venezuela (Bolivarian Republic of)"}, value="Venezuela", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Saint Helena, Ascension and Tristan da Cunha"}, value="Saint Helena", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Virgin Islands (British)"}, value="British Virgin Islands", inplace=True)
Country_Continent_Region.replace(to_replace={'country': "Macedonia (the former Yugoslav Republic of)"}, value="North Macedonia", inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5491: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

In [12]:
#Criação do dataframa com todas as linhas existentes no dataframe 1 e 2
Isocode_Region = Country_Continent_Region[Country_Continent_Region['country'].isin(Country_IsoCode['country'])]
#exibição do dataframe
Isocode_Region.head()

       country code_3  country_code continent       sub_region
0  Afghanistan    AFG             4      Asia    Southern Asia
2      Albania    ALB             8    Europe  Southern Europe
3      Algeria    DZA            12    Africa  Northern Africa
5      Andorra    AND            20    Europe  Southern Europe
6       Angola    AGO            24    Africa    Middle Africa

In [13]:
#Criação de nova coluna no dataframe 2 com valores True caso o nome do país esteja na base 1
Country_Continent_Region['IsInCountry_IsoCode']= Country_Continent_Region['country'].isin(Country_IsoCode['country'])
#Seleção de valores False na coluna 'IsInCountry_IsoCode', ou seja não está na base 1
indexNames = Country_Continent_Region[(Country_Continent_Region['IsInCountry_IsoCode'] == False)].index 
#Drop todos os valores indexados
Country_Continent_Region.drop(indexNames, inplace=True)
#Drop coluna 'IsInCountry_IsoCode'
Country_Continent_Region.drop(['IsInCountry_IsoCode'],axis=1, inplace=True)
#exibição do dataframe
Country_Continent_Region.head()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       country code_3  country_code continent       sub_region
0  Afghanistan    AFG             4      Asia    Southern Asia
2      Albania    ALB             8    Europe  Southern Europe
3      Algeria    DZA            12    Africa  Northern Africa
5      Andorra    AND            20    Europe  Southern Europe
6       Angola    AGO            24    Africa    Middle Africa

4. Inlcusão de dados na Base de Dados 2 - "Country_Continent_Region" conforme em Base 1.

In [14]:
#Declaração de chaves e valores a serem incluídos no dataframe que será criado
d = {'country': ['Africa', 'Asia', 'Asia (excl. China & India)', 'EU-27', 'EU-28',
       'Europe', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'French Equatorial Africa', 'French West Africa',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires',
       'Leeward Islands', 'North America', 'North America (excl. USA)',
       'Oceania', 'Panama Canal Zone', 'Ryukyu Islands', 'South America',
       'St. Kitts-Nevis-Anguilla', 'World'],
     'code_3': ['NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN','NaN' ,'NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN'], 
     'country_code': ['NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN','NaN' ,'NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN','NaN' ,'NaN','NaN','NaN' ,'NaN'], 
     'continent': ['Africa', 'Asia', 'Asia', 'Europe', 'Europe',
       'Europe', 'Europe', 'Europe',
       'Africa', 'Africa',
       'International transport', 'Europe', 'Asia',
       'America', 'America', 'America',
       'Oceania', 'America', 'Asia', 'America',
       'America', 'World'], 
     'sub_region': ['Africa', 'Asia', 'Asia (excl. China & India)', 'EU-27', 'EU-28',
       'Europe', 'Europe (excl. EU-27)', 'Europe (excl. EU-28)',
       'French Equatorial Africa', 'French West Africa',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires',
       'Caribbean', 'North America', 'North America (excl. USA)',
       'Oceania', 'North America', 'Asia', 'South America',
       'Caribbean', 'World']}
#Criação do dataframa df com os valores declarados em d
df = pd.DataFrame(data=d)
#exibição do dataframe
df.head()

,country,code_3,country_code,continent,sub_region
0,Africa,NaN,NaN,Africa,Africa
1,Asia,NaN,NaN,Asia,Asia
2,Asia (excl. China & India),NaN,NaN,Asia,Asia (excl. China & India)
3,EU-27,NaN,NaN,Europe,EU-27
4,EU-28,NaN,NaN,Europe,EU-28

In [15]:
#Concatenação dos dataframes Country_Continent_Region e df em Country_Continent_Region
Country_Continent_Region = pd.concat([Country_Continent_Region,df])
#exibição do dataframe
Country_Continent_Region

                     country code_3 country_code continent       sub_region
0                Afghanistan    AFG            4      Asia    Southern Asia
2                    Albania    ALB            8    Europe  Southern Europe
3                    Algeria    DZA           12    Africa  Northern Africa
5                    Andorra    AND           20    Europe  Southern Europe
6                     Angola    AGO           24    Africa    Middle Africa
..                       ...    ...          ...       ...              ...
17         Panama Canal Zone    NaN          NaN   America    North America
18            Ryukyu Islands    NaN          NaN      Asia             Asia
19             South America    NaN          NaN   America    South America
20  St. Kitts-Nevis-Anguilla    NaN          NaN   America        Caribbean
21                     World    NaN          NaN     World            World

[236 rows x 5 columns]

In [16]:
#Verificaçao de continent com valor na
Country_Continent_Region[Country_Continent_Region['continent'].isna()]

             country code_3 country_code continent sub_region
46  Christmas Island    CXR          162       NaN        NaN

In [17]:
#Alteração de valor na para 'Asia'
Country_Continent_Region['continent'].fillna('Asia', inplace=True)
#Alteração de valor na para 'Americas' para America
Country_Continent_Region.replace(to_replace={'continent': 'Americas'}, value='America', inplace=True)
#Verificação de continent com valor na
Country_Continent_Region[Country_Continent_Region['continent'].isna()]

Empty DataFrame
Columns: [country, code_3, country_code, continent, sub_region]
Index: []

In [18]:
#Verificação de continente
Country_Continent_Region['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'America', 'Oceania',
       'International transport', 'World'], dtype=object)

5. Comparação das base 1 - "Emission_Country_Year" e 2 - "Country_Continent_Region".

In [19]:
#Verificação dos paises em que estão nos 2 dataframes
Isocode_Region = Country_Continent_Region[Country_Continent_Region['country'].isin(Country_IsoCode['country'])]
#exibição do dataframe- 
Isocode_Region

                     country code_3 country_code continent       sub_region
0                Afghanistan    AFG            4      Asia    Southern Asia
2                    Albania    ALB            8    Europe  Southern Europe
3                    Algeria    DZA           12    Africa  Northern Africa
5                    Andorra    AND           20    Europe  Southern Europe
6                     Angola    AGO           24    Africa    Middle Africa
..                       ...    ...          ...       ...              ...
17         Panama Canal Zone    NaN          NaN   America    North America
18            Ryukyu Islands    NaN          NaN      Asia             Asia
19             South America    NaN          NaN   America    South America
20  St. Kitts-Nevis-Anguilla    NaN          NaN   America        Caribbean
21                     World    NaN          NaN     World            World

[236 rows x 5 columns]

In [20]:
#Verificação dos paises em que estão em Country_Continent_Region porém não estão no dataframe Country_IsoCode
NaoIsocode_Region = Country_Continent_Region[Country_Continent_Region['country'].isin(Country_IsoCode['country']) == False]
#contagem de países do dataframe 'NaoIsocode_Region'
NaoIsocode_Region.count()

country         0
code_3          0
country_code    0
continent       0
sub_region      0
dtype: int64

In [21]:
#Paises presentes em Country_IsoCode w não presentes em Country_Continent_Region
Isocode_NaoRegion = Country_IsoCode[Country_IsoCode['country'].isin(Country_Continent_Region['country']) == False]
#Verificação destes valores
Isocode_NaoRegion.country.unique()

array([], dtype=object)

6. Conexão com o BigQuery e armazenamento dos DataFrames

In [22]:
# Importar pacote de autenticação do Google e biblioteca para conexão entre Pandas e BigQuery
from google.oauth2 import service_account
import pandas_gbq as pd_gbq

In [23]:
# Autenticar acesso ao BigQuery
acesso = service_account.Credentials.from_service_account_info(
{
  "type": "service_account",
  "project_id": "blueshift-academy",
  "private_key_id": "41e1caa0b572364b9a1a2e0c0062da37bbcbe7ed",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCuSbntsF3S72YR\noodN6Fk9DiSbOv6K9wmcUjRCd5prKrfkXehu2D1DpjlIQkYCeOFMeNU4FdHrsKEJ\nQy9CL5m8BLlzhZ822NKFpTBaEC6e4zQzBXlzhT5EaDbgHntculSnLpph8v/gHfWf\ndWckGgI2PUH1pOLsCUCbFQA22D8WQMPlVjBx+yCRVkU65x17l7XrlEBYw/ko/duH\n3v/GJQYU3qaX774T6BGBocj2CoqR5tgE93CWHFw5iZXuUm6d49aMkU3VZ8gH+B/M\n5BucMm6La6zp1gOGe6ureHY48OLugfOuAnmZhOcD6eXuIpDf2s4TqCf6r5xT3lls\nDRJ6R0YxAgMBAAECggEAHWrcytl8sKSPRBU8hMIdw+At/hSCT8bcNKosX3asFgAX\nG2DdYU424wL8wq1K/1JTZtKzXHzUWpWMzNEt+hwqNPHQModAhSOqPvwPkfgOwmtD\njYQUSJMaHDZB4ujKNi/OJ4zGapd3KGcuJOzOTKnmKy0CQ9nBooj6QmLUTy2HUnQz\nLEA7KCbEhOVv0V75JeXIK6RUJD/Kcxt4oONDxQcGZ7qKAfZCvBRDFrryByin2JeN\nbfl2YbOCbCzJfZCc8b4PwoWY+6cuHWoHW1QqEq4vei1PfuL690xtUB1Tb4M3ieuO\nZOLIPYs6lsTCV1yXe08fb7ts/HrU0VYPI4KEzfexxQKBgQDcw/bHFD//iE0W2Oz4\nS+yXtHg+Xwkrd1NyRGuohAYOMRbRj3S/lIk60jU03xFI+6Uyma3HNy2zMbZaGVhJ\n7l0w42zftxQwbORtu8IZnJTvpSLx3VcQ5i+tGKpyN8/h7BGdXUDeLtEyMq98EOTs\nmqFJL015yb6MZo2sD9Da2gzB1QKBgQDKGsj2WV1Q0kfvCh1PcTLsnERDjII+X3hT\nHnt9QIRtjy7vBzxwunc4sfsKJn+MTDsPwP/opqv1tz4nzKqc4ZVvcOKrc+M0WwsR\nkDEykrR3kn6jScRcvDuScA13Xoka21wnt/+BYppK3SCJjjWqtNcNZb+2C2iBx60c\nM4GKQ26E7QKBgCUnviLnX5YMRJ0xyUBI1vr5Xrtwl0R/gsXaihwEjFhbHrIKaOXN\nhAMoWdgaKviTkcwgXUUIHmLoXP5xAZD/0yNlQ2+rinRT/2YQkaxp1A85RdZbIEox\n05hYbGdoyU4Gwzgu97ntOzwtl6dT2JORus9sbKewsqdCo1lwGACdbkQ5AoGBALRB\nd4Pg6I2xP19AEixMtjK6nVfx9ihTViosQc/Qv0xILIAcYBfa94Klm1XOSGyFgRfn\n91c1cKHTMailrnYF7RZcBI8O6VJE8XZUuMx2dGdBTZmtrWlYqXlOX3Rb6MT/aQ4z\n2bs4iozC9MY7BDqg2D2mxnpDao513TwN5DfBNM1xAoGBAMpHVOeEcYaPbAMfCJrL\nYRdIKzyBXWWzZoA2iCz4QI2HQ9uiLQQogGxQbTaQaKxQKnbY+1kAfEkfhgJ+K4WB\nxvUpyLhGZ4n05tr1ySKt5r1dMhjKdWI+PzUO+VnC+MvqV6hStu98uH3nLABC7q1n\n/WtWzmm5JzEcij1X/9/mw+cK\n-----END PRIVATE KEY-----\n",
  "client_email": "725609614257-compute@developer.gserviceaccount.com",
  "client_id": "116558903634579342107",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/725609614257-compute%40developer.gserviceaccount.com"
})

In [24]:
# Atualizar o cache de credenciais na memória
pd_gbq.context.credentials = acesso
pd_gbq.context.project = "blueshift-academy"

In [25]:
# Nome do projeto onde o Conjunto de Dados está hospedado
Projeto = 'blueshift-academy'

# Inserir o DataFrame no BigQuery - (NomeDataFrame, ConjuntoDados.NomeTabela, ...)
pd_gbq.to_gbq(Country_Continent_Region, 'Continent.Country_Continent_Region', project_id=Projeto, if_exists='replace')
pd_gbq.to_gbq(Country_Continent_Region_in, 'Continent.Country_Continent_Region_in', project_id=Projeto, if_exists='replace')

1it [00:05,  5.46s/it]
1it [00:02,  2.44s/it]

# Autor: Matheus Gois